
header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
}

header .logo {
    font-size: 1.2rem;
    font-weight: 700;
}

.nav_mobile {
    color: var(--texto);
    cursor: pointer;
    padding: 0 1rem;
    position: relative;
    width: 24px;
    height: 24px;
    
    i {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    }

    .fa-bars {
        opacity: 1
    }

    .fa-xmark {
        opacity: 0;
    }
}

.nav_mobile.toggle {
    .fa-bars {
        opacity: 0;
        transform: rotate(180deg);
    }

    .fa-xmark {
        opacity: 1;
        transform: rotate(180deg);
    }
}


.nav_desktop {
    position: absolute;
    top: 78px;
    right: 0;
    width: 90%;
    background-color: var(--background-sombra);
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 3;
}


.nav_desktop .decoration {
    color: var(--background-sombra);
    position: absolute;
    top: 0;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.nav_desktop ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav_desktop ul li a {
    color: var(--texto);
    font-weight: 500;
    transition: color 0.3s;
    display: flex;
    justify-content: space-between;
}