header {
    background: var(--gradiente-destaque-escuro);
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

h1 {
    font-size: 1.8rem;
}

ul {
    padding-left: 1rem;
}

a {
    color: var(--texto);
}

a:hover {
    color: var(--destaque-emi);
}