header {
    background: var(--gradiente-destaque-escuro);
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    min-height: 100vh;
}

h1 {
    font-size: 1.8rem;
}

ul {
    padding-left: 1rem;
}

a {
    color: var(--texto);
}

a:hover, .nav-desktop_lista details ul a:hover {
    color: var(--destaque-emi);
}

.nav-desktop_lista a:hover,
.nav-desktop_lista summary:hover {
 color: var(--background-dark);
 
}